.container{
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;
}
.logo{
    padding: 1rem;
}

/* Desktop styles */  
@media only screen and (min-width: 768px) {
    .burgermenu{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 5rem;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar >li{
        list-style: none;
        padding: 1rem;
    } 
    .navmobilecommon{
        display: none;
    }
}

/************** mobile styles ***************/
@media only screen and (max-width: 767px) {
    
    .navdesktop{
    display: none;
    }
    .burgermenu{
        padding:1rem;
        height: 2rem;
        width: 3rem;
    }

    .navmobilecommon{
        position: absolute;
        height: 100%;
        width: 50%;
        right:0;
        background-color: white;
        z-index: 2;
    }
    .navmobileoff{
        visibility:hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .navmobileon{
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .closebutton:active{
        background-color: red;
    }
   
   .navmobilebar{
    list-style-type: none;
   }
}
  