.container{
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;
    
}

/* Desktop styles */  
@media only screen and (min-width: 768px) {
    .burgermenu{
        display: none;
    }
    .logo{
        height: 3rem;
        width: 5rem;
        padding: 1rem;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar >li{
        list-style: none;
        padding: 1rem;
    } 
    .navmobilecommon{
        display: none;
    }
    .navmobileon_shadow{
        display: none;
    }
    .navmobileoff_shadow{
        display: none;
    }
}

/************** mobile styles ***************/
@media only screen and (max-width: 767px) {
    .logo{
        height: 2rem;
        width: 3rem;
        padding: 1rem;
    }
    .navdesktop{
    display: none;
    }
    .burgermenu{
        padding:1rem;
        height: 2rem;
        width: 3rem;
    }

    .navmobilecommon{
        position: absolute;
        height: 500%;
        width: 50%;
        right:0;
        background-color: white;
        z-index: 2;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    .navmobileoff{
        visibility:hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .navmobileon{
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .closebutton{
        height: 2rem;
        width: 2rem;
        padding-left: 2rem;
        align-self: flex-end;
        padding: 1rem;
    }
   
   .navmobileon_shadow{
    position: absolute;
    background-color: black;
    height: 500%;
    width: 100%;
    opacity: 0.5;
    transition: visibility 0.5s, opacity 0.5s linear;
   }
   .navmobileoff_shadow{
    position: absolute;
    background-color: black;
    height: 500%;
    width: 100%;
    opacity: 0;
    
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
   }

   .navmobilebar{
    align-self: flex-start;
    list-style-type: none;
    padding: 0;
   }
   .navmobilebar>li{
    padding: 1rem;
   }
}
  