.container{
    display: flex;
    justify-content:space-between;
}
.left{
    display: flex;
    align-items: center;
}
.right:hover{
color:rgb(9,53,130);
cursor:grab;
}
.notification{
    font-weight: 700;
    border-radius: 0.3rem;
    background-color:rgb(9,53,130);
    color:white;
    padding: 0rem 0.7rem 0.2rem 0.7rem;
    
    }

/* Desktop styles */
@media only screen and (min-width: 768px) {
    .container{
        padding:1rem;
        
    }
    .Heading{
        font-weight: 700;
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    .right{
        font-size: 1.2rem;
        padding: 0.5rem;
    } 
}

@media only screen and (max-width: 767px) {
    .container{
        padding:0.5rem;
        
    }
    .Heading{
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    .right{
        font-size: 1rem;
        padding: 0.5rem;
    }
  }
  

