
/* Styles for desktop */
@media only screen and (min-width: 768px) {
    .container{
        position: absolute;
        left:3vw;
        top: 10vh;
        color:#ffffff;
        width: 20rem;
        height: 15rem;
        background-size: contain;
        background-image: url("../images/bg-card-front.png") ;
        background-repeat: no-repeat;
        z-index: 1;
    }
    .WhiteCircle{
        width: 0;
        background-color: white;
        border-radius: 50%;
        padding:0.8rem;
        margin-right: 0.5rem;
       
    }
    .HollowCircle
    {
        width: 0;
        border: 1px solid white;
        border-radius: 50%;
        padding:0.3rem;
    }
    .circles{
        margin-top: 0.5rem;
        height: 0;
        display: flex;
        padding:1rem;
        align-items: center;
        justify-content: flex-start;
    }
    .cardnumberdiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardnumber{
        font-size: 1.2rem;
        margin-top: 3rem;
        box-sizing: border-box;
       font-stretch:extra-expanded;
       letter-spacing: 0.2rem;
       
    }
    .cardnamedate{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 1rem;
    }
    
}
  


/* Styles for mobile */
@media only screen and (max-width: 767px) {
    .container{
        position: absolute;
        left:15vw;
        top: 14vh;
        color:white;
        width: 15rem;
        height: 10rem;
        background-size: contain;
        background-image: url("../images/bg-card-front.png") ;
        background-repeat: no-repeat;
        z-index: 1;
    }
    .WhiteCircle{
        width: 0;
        background-color: white;
        border-radius: 50%;
        padding:0.7rem;
        margin-right: 0.5rem;
       
    }
    .HollowCircle
    {
        width: 0;
        border: 1px solid white;
        border-radius: 50%;
        padding:0.2rem;
    }
    .circles{
        margin-top: 0.5rem;
        height: 0;
        display: flex;
        padding:1rem;
        align-items: center;
        justify-content: flex-start;
    }
    .cardnumberdiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cardnumber{
        font-size: 1rem;
        margin-top: 2rem;
        box-sizing: border-box;
       font-stretch:extra-expanded;
       letter-spacing: 0.06rem;
       
    }
    .cardnamedate{
        font-size: 0.7rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right:1rem;
    }

}