

/* Styles for desktop */
@media only screen and (min-width: 601px) {
    .container{
        position: absolute;
        left:10vw;
        top: 10vh;
        color:white;
        width: 20rem;
        height: 15rem;
        background-size: contain;
        background-image: url("../images/bg-card-front.png") ;
        background-repeat: no-repeat;
    }
    .container>div{
        position: absolute;
    }
    .frontimage{
        width:20rem;
    }
}
  


/* Styles for mobile */
@media only screen and (max-width: 600px) {
    .container{
        position: absolute;
        left:3vw;
        top: 10vh;
    }
    .frontimage{
        width:15rem;
    }
}