

/* Styles for desktop */
@media only screen and (min-width: 768px) {
    .container{
        box-sizing: border-box;
        height: 100vh;
        border: 0px solid green;
        }
    .mobileimage{
        display: none;
    }
    .desktopimage{
        width: 25vw;
        height: 99.5vh;
        border: 0px solid green;
    }
}
  


/* Styles for mobile */
@media only screen and (max-width: 767px) {
    .container{
        box-sizing: border-box;
        height: 25vh;
        border: 0px solid green;
        }
    .mobileimage{
        width: 100%;
        height: 25vh;
    }
    .desktopimage{
        display: none;
    }
}